.cws-field-select {
  display: inline-flex;
  flex-direction: column;
  padding-top: var(--font-size-sm);
}

.cws-field-select-input {
  position: relative;
}

.cws-field-select-input input {
  color: var(--color-neutral-600);
  display: block;
  font-family: var(--font-family-1);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-squish-xs);
  height: var(--field-min-height-md);
  border: var(--border-width-thin) solid var(--color-neutral-400);
  border-radius: var(--border-radius-xs);
  box-sizing: border-box;
}

.cws-field-select-input input:focus {
  border-color: var(--color-primary-500);
  outline: none;
}

.cws-field-select-input input:disabled {
  background-color: var(--color-neutral-300);
  cursor: not-allowed;
}

.cws-field-select-label {
  color: var(--color-neutral-600);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  pointer-events: none;
  position: absolute;
  left: var(--spacing-inline-xs);
  top: 50%;
  transform: translateY(-50%);
  transition: 150ms linear all;
}

.cws-field-select--has-value .cws-field-select-label,
.cws-field-select-input input:focus ~ .cws-field-select-label {
  background: var(--color-neutral-100);
  font-size: var(--font-size-sm);
  padding: 0 var(--spacing-inline-xxxs);
  left: calc(var(--spacing-inline-xs) - (var(--spacing-inline-xxxs) / 2));
  top: -7px;
  transform: translateY(0);
}

.cws-field-select-input input:focus ~ .cws-field-select-label {
  color: var(--color-primary-500);
}

.cws-field-select-hint {
  display: block;
  box-sizing: border-box;
  height: 20px;
  font-size: var(--font-size-sm);
  color: var(--color-neutral-600);
  font-weight: var(--font-weight-thin);
  padding: var(--spacing-inline-xxxs);
  opacity: var(--opacity-0);
  transition: 150ms opacity cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity;
}

.cws-field-select--has-hint .cws-field-select-hint {
  opacity: 1;
}

.cws-field-select--is-error .cws-field-select-hint,
.cws-field-select--is-error .cws-field-select-input input ~ .cws-field-select-label,
.cws-field-select--is-error .cws-field-select-input input ~ .cws-field-select-label:valid {
  color: var(--color-error-300);
  opacity: var(--opacity-8);
}

.cws-field-select--is-error .cws-field-select-input input,
.cws-field-select--is-error .cws-field-select-input input:valid {
  border-color: var(--color-error-300);
}

.cws-field-select--dropdown-icon {
  height: 30px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.dropdown-icon {
  position: absolute;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.dropdown-icon--down {
  top: 12px;
  border-top: 10px solid var(--color-neutral-600);
}

.dropdown-icon--up {
  top: 10px;
  border-bottom: 10px solid var(--color-neutral-600);
}

.cws-field-select--options {
  border: var(--border-width-thin) solid var(--color-neutral-400);
  border-radius: var(--border-radius-xs);
  height: auto;
  max-height: 184px;
  min-height: 46px;
  margin-top: var(--spacing-inline-xxs);
  overflow: auto;
}

.cws-field-select--options .cws-field-select--options-value {
  font-size: var(--font-size-md);
  color: var(--color-neutral-700);
  cursor: pointer;
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-inset-sm);
}

.cws-field-select--options .cws-field-select--options-value.selected,
.cws-field-select--options .cws-field-select--options-value.selected:hover {
  background-color: var(--color-primary-500);
  color: var(--color-primary-500-contrast);
  font-weight: var(--font-weight-regular);
}

.cws-field-select--options .cws-field-select--options-value:hover {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-primary-100);
}

.cws-field-select--no-options {
  display: inline-block;
  font-size: var(--font-size-md);
  padding: var(--spacing-inset-sm);
}
