/* CUSTOM THEME FONT */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700&display=swap');

:root {
  /* GENERIC TOKENS */

  /* inline spacing -> Margins and Paddings */
  --spacing-inline-xxxs: 4px;
  --spacing-inline-xxs: 8px;
  --spacing-inline-xs: 16px;
  --spacing-inline-sm: 24px;
  --spacing-inline-md: 32px;
  --spacing-inline-lg: 40px;
  --spacing-inline-xl: 48px;
  --spacing-inline-xxl: 56px;
  --spacing-inline-xxxl: 64px;

  /* squish spacing -> Only for Paddings */
  --spacing-squish-xs: 8px 16px;
  --spacing-squish-sm: 8px 24px;
  --spacing-squish-md: 16px 24px;
  --spacing-squish-lg: 16px 32px;
  --spacing-squish-xl: 32px 48px;

  /* inset spacing -> Only for Paddings */
  --spacing-inset-xxs: 4px;
  --spacing-inset-xs: 8px;
  --spacing-inset-sm: 16px;
  --spacing-inset-md: 24px;
  --spacing-inset-lg: 32px;
  --spacing-inset-xl: 48px;

  /* icon size */
  --size-icon-xxs: 16px;
  --size-icon-xs: 20px;
  --size-icon-sm: 24px;
  --size-icon-md: 32px;
  --size-icon-lg: 40px;
  --size-icon-xl: 48px;

  /* inset shadow */
  --shadow-inset-1: inset 0 0 0 2px rgba(0, 0, 0, 0.2);

  /* outside shadow */
  --shadow-1: 0 4px 8px rgba(0, 0, 0, 0.2);
  --shadow-2: 0 8px 16px rgba(0, 0, 0, 0.2);
  --shadow-3: 0 16px 32px rgba(0, 0, 0, 0.2);
  --shadow-4: 0 32px 64px rgba(0, 0, 0, 0.2);

  /* border width */
  --border-width-none: 0;
  --border-width-thin: 1px;
  --border-width-medium: 2px;
  --border-width-thick: 4px;

  /* border radius */
  --border-radius-none: 0;
  --border-radius-xxs: 2px;
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-circle: 50%;
  --border-radius-pill: 500px;

  /* opacity */
  --opacity-0: 0;
  --opacity-1: 0.16;
  --opacity-2: 0.24;
  --opacity-3: 0.32;
  --opacity-4: 0.4;
  --opacity-5: 0.64;
  --opacity-6: 0.8;
  --opacity-7: 0.96;
  --opacity-8: 1;

  /* grid */
  --grid-container: 1400px;
  --grid-column-width: 102px;
  --grid-column-gutter: 16px;

  /* BRAND TOKENS */

  /* font size */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* font family */
  --font-family-1: 'Roboto', sans-serif;
  --font-family-2: 'Roboto Condensed', sans-serif;

  /* text-transform */
  --text-transform: uppercase;
  --text-decoration: underline;

  /* color contrast tones */
  --color-contrast-light: #fff;
  --color-contrast-dark: #202020;

  /* color primary */
  --color-primary-100: #e7f4fc;
  --color-primary-200: #8bcaf0;
  --color-primary-300: #5cb5ea;
  --color-primary-400: #2ea0e4;
  --color-primary-500: #008cdf;
  --color-primary-600: #0073b7;
  --color-primary-700: #005a8e;
  --color-primary-800: #004066;
  --color-primary-900: #00273d;

  /* color primary contrast */
  --color-primary-100-contrast: var(--color-contrast-dark);
  --color-primary-200-contrast: var(--color-contrast-dark);
  --color-primary-300-contrast: var(--color-contrast-light);
  --color-primary-400-contrast: var(--color-contrast-light);
  --color-primary-500-contrast: var(--color-contrast-light);
  --color-primary-600-contrast: var(--color-contrast-light);
  --color-primary-700-contrast: var(--color-contrast-light);
  --color-primary-800-contrast: var(--color-contrast-light);
  --color-primary-900-contrast: var(--color-contrast-light);

  /* color secondary */
  --color-secondary-100: #ececec;
  --color-secondary-200: #a0a0a0;
  --color-secondary-300: #7b7b7b;
  --color-secondary-400: #555;
  --color-secondary-500: #303030;
  --color-secondary-600: #282828;
  --color-secondary-700: #1f1f1f;
  --color-secondary-800: #161616;
  --color-secondary-900: #0e0e0e;

  /* color secondary contrast */
  --color-secondary-100-contrast: var(--color-contrast-dark);
  --color-secondary-200-contrast: var(--color-contrast-dark);
  --color-secondary-300-contrast: var(--color-contrast-dark);
  --color-secondary-400-contrast: var(--color-contrast-light);
  --color-secondary-500-contrast: var(--color-contrast-light);
  --color-secondary-600-contrast: var(--color-contrast-light);
  --color-secondary-700-contrast: var(--color-contrast-light);
  --color-secondary-800-contrast: var(--color-contrast-light);
  --color-secondary-900-contrast: var(--color-contrast-light);

  /* color neutral */
  --color-neutral-100: #fff;
  --color-neutral-200: #fbfbfb;
  --color-neutral-300: #f2f2f2;
  --color-neutral-400: #e8e8e8;
  --color-neutral-500: #b6b6b6;
  --color-neutral-600: #868686;
  --color-neutral-700: #202020;

  /* color error */
  --color-error-100: #fdecec;
  --color-error-200: #f16161;
  --color-error-300: #ea0808;
  --color-error-400: #ab0606;
  --color-error-500: #6b0404;

  /* color alert */
  --color-alert-100: #f6e5b9;
  --color-alert-200: #e9ba45;
  --color-alert-300: #e1a100;
  --color-alert-400: #a47600;
  --color-alert-500: #523b00;

  /* color success */
  --color-success-100: #e8f8f0;
  --color-success-200: #4ac889;
  --color-success-300: #07b45d;
  --color-success-400: #06944d;
  --color-success-500: #034222;

  /* COMPONENTS */

  /* button */
  --button-width-sm: 64px;
  --button-height-sm: 32px;
  --button-width-md: 112px;
  --button-height-md: 38px;
  --button-width-lg: 216px;
  --button-height-lg: 56px;

  /* field */
  --field-min-height-sm: 36px;
  --field-min-height-md: 48px;
  --field-min-height-lg: 60px;

  /* select */
  --depth-field-select-dropdown: 1;
}
