.cws-field-number {
  display: flex;
  justify-content: space-between;
  border: var(--border-width-thin) solid var(--color-neutral-400);
  border-radius: var(--border-radius-xxs);
  background-color: var(--color-neutral-100);
  height: var(--field-min-height-md);
}

.cws-field-number-counter {
  border: var(--border-width-none);
  outline: none;
  text-align: center;
  overflow: hidden;
  color: var(--color-neutral-700);
  font-size: var(--font-size-md);
  letter-spacing: 0.2px;
  line-height: var(--spacing-inline-sm);
  -moz-appearance: textfield;
  flex: 1;
}

/* Webkit browsers like Safari and Chrome */
.cws-field-number-counter::-webkit-inner-spin-button,
.cws-field-number-counter::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cws-field-number-counter:disabled {
  cursor: not-allowed;
  background-color: var(--color-neutral-300);
}

.cws-field-number-button {
  display: block;
  outline: none;
  border: none;
  padding: 0 var(--spacing-inline-icons);
  color: var(--color-neutral-600);
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.cws-field-number-button:disabled {
  cursor: not-allowed;
  background-color: var(--color-neutral-300);
}

.cws-field-number-button:disabled:first-child {
  border-right: var(--border-width-thin) solid var(--color-neutral-400);
}

.cws-field-number-button:disabled:last-child {
  border-left: var(--border-width-thin) solid var(--color-neutral-400);
}

.cws-field-number-button svg {
  vertical-align: middle;
}
