.cws-field-button-wrapper {
  display: flex;
}

.cws-field-button-wrapper.cws-field-button-inline {
  display: inline-flex;
}

.cws-field-button-input {
  flex: 1;
  min-width: var(--field-button-min-width);
}

.cws-field-button-knob {
  transform: translateX(-5px);
  padding-top: var(--font-size-sm);
}
